@model PROYECTOVENTAS.Models.Modelo
@using PROYECTOVENTAS.Models;
@{
    ViewBag.Title = "index2";
    Usuario usuario = (Usuario)Session["usuario"];
    string mensaje = (string)Session["mensaje"];
    Session["mensaje"] = null;
}

<!DOCTYPE html>

<html class="no-js">
 <!--<![endif]-->
<html lang="es">

 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intranet Corporativa &bull; CompuVentas</title>
    <!-- Forza al Navegador IE a utilizar el motor de Webkit -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--link rel="stylesheet" href="css/normalize.css"-->
    <link href="/Content/css1/styles.v6.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/css1/responsive.css">
    <script type="text/javascript">
        var xajaxRequestUri = "index.html";
        var xajaxDebug = false;
        var xajaxStatusMessages = false;
        var xajaxWaitCursor = true;
        var xajaxDefinedGet = 0;
        var xajaxDefinedPost = 1;
        var xajaxLoaded = false;
        function xajax_checkAccess() { return xajax.call("checkAccess", arguments, 1); }
        function xajax_logout() { return xajax.call("logout", arguments, 1); }
    </script>
    <script type="text/javascript" src="/Content/inc/xajax/xajax_js/xajax.js"></script>
    <script type="text/javascript">
        window.setTimeout(function () { if (!xajaxLoaded) { alert('Error: the xajax Javascript file could not be included. Perhaps the URL is incorrect?\nURL: inc/xajax/xajax_js/xajax.js'); } }, 6000);
    </script>
</head>
<body>
    <div id="header">
        <h1>
            <img src="/Content/img/logo2.png" alt="">
        </h1>
    </div>

    <div class="contenedor">
        <div class="logo_Login">
            <p>
                INTRANET
            </p>
            <span>
                CORPORATIVA
            </span>
        </div>
        <div class="divider" style="display:none;"></div>
        <div class="loginUsuario">

            @using (Html.BeginForm("loginUsuario2", "Usuario"))
            {
                <div>

                    <span>Acceso</span><br>
                    <label for="txtpassword" id="usuario">Correo</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" name="correoUsuario" /><br>
                    <label for="txtpassword" id="pass">Contraseña</label>

                    <input type="password" name="txtpassword" /><br>
                    <span id="lblMensaje" style="color:red;">Correo o contraseña incorrecta</span>
                    <button type="submit">Entrar</button>

                </div>
            }


        </div>
        <input type="hidden" name="w" id="w" />
        <input type="hidden" name="h" id="h" />
    </div>
    <div id="divModulos"></div>
    </div>
    <!--script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script-->
    <script src="/Content/js1/scripts.v2.js" type="text/javascript"></script>
    <!--script>
        $(document).on("ready", function(){
            $("#btlogin").on("click", function(){
                xajax_checkAccess(getFormValues('frm'));
            });
        });
    </script-->
    <script language="javascript" type="text/javascript">
		document.getElementById('w').value = window.screen.availWidth
		document.getElementById('h').value = window.screen.availHeight
		function checkKeyCode(evt){
			var evt = (evt) ? evt : ((event) ? event : null);
			var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
			if(event.keyCode==116){
			evt.keyCode=0;
			return false
			}
		}

		$(document).ready(function () {
		    var msj = "@mensaje";
              if (msj != null && msj != "") {
                  $("#textoMsj").html(msj);
                  $('#modalMensaje').modal({
                      backdrop: false
                  });
              }

		function removeElement(divId) {
			var d = document.getElementById('divTodo');
			var olddiv = document.getElementById(divId);
			d.removeChild(olddiv);
		}
		window.onload=function() {
			document.getElementById('txtusuario').focus();
			//document.onkeydown = checkKeyCode;
			if (screen.width + "x" +screen.height == "800x600") {
				removeElement('divPie');
			}
		}
		<!--
		xajax.loadingFunction =
		function(){xajax.$('loadingMessage').style.display='block';};
		function hideLoadingMessage()
		{
			xajax.$('loadingMessage').style.display = 'none';
		}
		xajax.doneLoadingFunction = hideLoadingMessage;
		// -->
    </script>
</body>

<!-- Mirrored from portal.pueblobonito.com.mx/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Jul 2015 19:11:26 GMT -->
</html>
