@{
    ViewBag.Title = "AUDIFONOS";

    List<PROYECTOVENTAS.Models.Producto> productos = ViewBag.productos;

}


<td id="column-center" valign="top">
    <h1 id="productListHeading">AUDIFONOS</h1>
    <form name="multiple_products_cart_quantity" action="#" method="post" enctype="multipart/form-data">
        <div id="productsListingTopNumber" class="navSplitPagesResult fleft"></div>
        <div class="tie tie-margin1">
            <div class="tie-indent">

                <div class="buttonRow forward"></div>
                <br class="clearBoth">


                <table width="100%" border="0" cellspacing="0" cellpadding="0" id="cat1Table" class="tabTable">

                    <tr class="productListing-rowheading">
                        <th class="productListing-heading" align="center" scope="col" id="listCell0-0">Imagen</th>
                        <th class="productListing-heading" scope="col" id="listCell0-1">

                            Nombre
                        </th>
                        <th class="productListing-heading" align="right" width="125" scope="col" id="listCell0-2">
                            Precio
                        </th>
                    </tr>
                    @foreach (var prod in productos)
                    {
                        <tr class="productListing-odd">
                            <td class="productListing-data" align="center">

                                <img width="400" height="400" alt="" id="tmp" src="@Url.Content("~/Content/imagenes/productos/" + @prod.idProducto + ".jpg")">
                            </td>
                            <td class="productListing-data">
                                <h3 class="itemTitle">

                                    @prod.nomProducto

                                </h3><div class="listingDescription">@prod.descProducto</div>
                            </td>


                            <td class="productListing-data" align="right">
                                <span class="price">
                                    &nbsp;<span class="productSpecialPrice">
                                        RD$.@prod.precioProducto.ToString("0.00")

                                    </span>
                                </span><br><br>
                            </td>






                        </tr>
                    }
                </table>

                <div class="buttonRow forward"></div>
            </div>



    </form>


