


/*  --------------------------------------------------------------------  */

/* CSS Document */

* { margin:0; padding:0;}
body { 
	background:#000 url(../images/main_bg.jpg) center top no-repeat; 
	font-family: 'Lato', Arial, Helvetica, sans-serif; 
	font-size:13px; 
	line-height:23px; 
	color:#888888;
}
table, td {border-collapse:collapse; font-size:100%;}
table, td, img {border:0;}
form, td {margin:0; padding:0;}
td { vertical-align:top; text-align:left;}

.main-width { width:1231px; margin:0 auto; text-align:left;}
.extra { width:1231px; margin:0 auto; text-align:left;}

input, textarea { font-family:Tahoma; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

img {vertical-align:top;}
a img { border:0;}
ul { list-style:none;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper{ width:100%; overflow:hidden;border-top: 1px solid #2a2a2a;}
.container { width:100%;}
.column-1, .column-2, .column-3{ float:left;}

a {
	color:#777; 
	outline:none;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
a:hover{text-decoration:none;color:#fff;}
p { margin:0; padding:0;}


/* ============================= header ====================== */
#header{
	background: transparent url(../images/header_bg.png) 0 0 repeat-x;
	height:246px;
	position:relative;
	z-index:555;
}
#header .main-width{
	position:relative;
}
/* --- logo --- */
#header .logo{
	position:absolute;
	top:45px;
	left:0;
}

/* --- shopping cart --- */
#header .cart{
	position:absolute;
	right:43px;
	top:120px;
	font:400 20px/39px 'Lato', Arial, Helvetica, sans-serif;
	color:#e63636;
	z-index: 3;
}
#header .cart:after {
	background: url(../images/cart_img2.png) 0 0 no-repeat;
	position: absolute;
	content: "";
	display: inline-block;
	top: 0;
	left: -53px;
	width: 41px;
	height: 35px;
}

#header .cart .st1{
	margin-right:3px;
	text-decoration:none;
	color:#000;
	display: none;
}
#header .cart .st1:hover{
	color:#fff;
}
#header .cart a .count{
}

#header .cart a.on{
	margin-left:3px;
	color:#e63636;
	font:400 20px/39px 'Lato', Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#header .cart a.on:hover{
	color:#fff;
}
/* _______ dropdown cart _______ */
#header .cart a.on{
	cursor:pointer;
}
.cart-down, 
.none{
	border:1px solid #404040; 
	background:#1d1d1d url(../images/menu_bg.jpg) 0 -9px repeat-x; 
	overflow:hidden;
	position:absolute; 
	width:280px; 
	right:-43px; 
	top:49px; 
	z-index:100;	
	text-transform:none; 
	display:none;
}
.none{
	padding:15px; 
	color: #888;
	font-size: 15px;
	text-align:center; 
	text-transform:uppercase;
}
.cart_item{	
	width:256px; 
	overflow:hidden; 
	background:#2a2a2a;	
	padding:12px; 
	margin:2px 0;
}
.cart_item .left-info{
	float:left;
}
.cart_item .center-info{
	float:left;
	width:114px;
}
.cart_item span{
	float:left;	
	margin:0 5px 0 0;
}
.cart_item .quantity{
	color:#777; 
	font-weight:bold; 
	margin:0px 5px 0 0;
}
.cart_item .quantity .spr{
	font-size:8px; 
	font-weight:normal; 
	font-style:normal;
}
.cart_item .cart-name{
	color:#777; 
	font:400 12px/18px Arial, Helvetica, sans-serif; 
	float:left; 
	text-transform:none; 
	text-decoration:none;
}
.cart_item .cart-name:hover{
	text-decoration:none;
	color: #e63636;
}
.cart_item .model{
	display:block;
	font-size:10px;
	color:#676363; 
	text-transform:lowercase; 
	width:100%;
}
.cart_item a.cart-img{
	float:left; 
	display:inline-block;
	margin:0 5px 0 0;
}
.cart_item a.cart-img img{ 

}
.cart_item .cart-price{	
	float:left;	
	color:#e63636;	
	font:400 16px/40px 'Lato', Arial, Helvetica, sans-serif; 	
}
.cart_item .delete{	
	float:right;
	padding:4px;
}
.cart-down .cart-bottom{
	text-align:right; 
	overflow:hidden; 
	width:256px;	
	padding:12px; 
}
.cart-down .cart-bottom .total{ 
	width:100%; 
	display:block; 
	font:400 13px/18px Arial, Helvetica, sans-serif; 
}
.cart-down .cart-bottom .total strong{ 
	font-weight:normal;
}
.cart-down .cart-bottom .total span{ 
	font-size:14px; 
	color:#e63636;	
	margin:0 0 0 5px;
}
.cart-down .cart-bottom a{
	float:left;
}
.cart-down .cart-bottom .btns{
	overflow:hidden;	
	margin:10px 0 0 0;	
	text-align:right;	
	float:right;
}

/* --- navigation --- */
#header .navigation{ 
	position:absolute; 
	top:8px; 
	left:0;
}
#header .navigation a{
	float:left;
	margin:0 14px 0 0;
	font:400 13px/21px 'Lato', Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-transform: uppercase;
	color:#777;
	display:inline-block;
}
#header .navigation a:hover,
#header .navigation a.home{
	color:#fff;
}

/* --- search --- */
#header #head-search{
	background:url(../images/search_bg.png) no-repeat 0 0;
	position:absolute; 
	top:115px;
	width: 447px;
	height: 61px;
	right:0;
}
#header #head-search .label{ 
	float:left; 
	display:none;
}
#header #head-search form{
	float:left;
}
#header #head-search .input1{
	background: none;
	float:left; 
	border:none; 
	height:40px;
	line-height:40px;
	width:243px; 
	padding:10px;
	color: #888;
	font-size: 14px;
}

/* --- languages --- */
#header .lang{
	position:absolute;
	top:12px;
	right:0;
}

/* --- currencies --- */
#header .currencies{
	float:left;
	color:#656565;
	font-size:12px;
	line-height:15px;
	position:absolute;
	right:30px;
	top:10px;
	z-index:50;
	text-align:left;
	display:none;
}
#header .currencies .select.jqTransformHidden{
	display:none;
}
#header .currencies .label{
	float:left;
	margin-right:0px;
	margin-top:2px;
	font:400 11px/18px 'Lato', Arial, Helvetica, sans-serif;
	color:#777;
	text-transform:uppercase;
}
#header .currencies .jqTransformSelectWrapper{
	background:url(../images/cur-bg.gif) no-repeat left top;
	border:none;
	float:left;
	width:85px!important;
	padding: 0 0 0 0;
	cursor:default;
}
#header .currencies .jqTransformSelectWrapper div span{
	font:400 11px/18px 'Lato', Arial, Helvetica, sans-serif;
	color:#777;
	padding:2px 25px 3px 0;
	width:84px!important;
	height:18px!important;
	overflow:hidden;
	float:left;
	text-transform: uppercase;
	cursor:pointer;
}
#header .currencies ul{
	padding:4px 0 4px 0;
	margin:2px 1px 0 0px;
	width:116px!important;
	height:auto!important;
	overflow:hidden;
	border:1px solid #000;
	background:#101010;
	color: #777;
}
#header .currencies ul li{
	line-height:11px;
	padding:2px 7px;
	overflow:hidden;
}
#header .currencies ul li a{
	font:400 12px/18px Arial, Helvetica, sans-serif;
	color:#8f8f8f;
	text-decoration:none;
	display:inline;
}
#header .currencies ul li a:hover{
	color:#d93434;
}

/* --- menu --- */
#header .menu{
	position:absolute;
	width: 930px;
	top:176px; 
	right:0px;
	text-align: center;
	background:#a1a1a1 url(../images/menu_bg.jpg) 0 0 repeat-x;
}
#header .menu ul{
	padding:0;
	margin:0;
	overflow:hidden;
	padding: 15px 0;
}
#header .menu ul li{
	display: inline-block;
	position: relative;
	margin: 0 10px;
}
#header .menu ul li a{
	font:400 20px/40px 'Lato', Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-transform: uppercase;
	color:#777;
	display: inline-block;
}
#header .menu ul li:first-child a{}

#header .menu ul li.selected a,
#header .menu ul li a:hover{
	color:#e63636;
}

/* --- phone --- */
#header .phone{
	position:absolute;
	right:0px;
	top:63px;
	font:400 33px/33px 'Righteous', Arial, Helvetica, sans-serif;
	letter-spacing: -1.3px;
	color:#fff;
}
#header .phone:after {
	position: absolute;
	content: "";
	top: 12px;
	left: -24px;
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url(../images/tel_ico.png) 0 0 no-repeat;
}

/* --- categories --- */
#header .categories{
	position:absolute;
	left:0;
	top:185px;
	width:100%;
	background:#969696;
	border:1px solid #000;
}
/* ============================= content ===================== */
.middle-content{ 
	padding:0;
}
.centerBoxHeading{ 
	background:#1a1a1a; 
	color:#fff; 
	text-transform:uppercase; 
	font: 400 33px/38px 'Righteous', sans-serif;
	padding:18px 28px 14px;
	letter-spacing: -1.3px;
	margin-bottom:0px;
}

.name{ 
	font:400 17px/20px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.name strong{ 
	font-weight:normal;
}
.name:hover{ 
	color:#e63636;
}

#column-left{
	width: 300px!important;
	background: #212121;
	padding-right:0;
}
#column_right{ 
	padding-left:30px;
}

#column-center{
	background: #1a1a1a;
}
#indexHomeBody .column-center-padding {padding:0;}
.column-center-padding{padding: 13px;}

/* --- product --- */
#featuredProducts .centeredContent,
#whatsNew .centeredContent,
#specialsDefault .centeredContent,
#specialsListing .centeredContent{
	border:1px solid #2b2b2b;
	margin-bottom: -1px;
	margin-left: -1px;
	min-height: 410px;
	position: relative;
}
#featuredProducts .centeredContent.first,
#whatsNew .centeredContent.first,
#specialsDefault .centeredContent.first,
#specialsListing .centeredContent.first{
	margin:0 0 -1px -1px;

}
#indexCategories .tie #featuredProducts .centeredContent, 
#indexCategories .tie #whatsNew .centeredContent, 
#indexCategories .tie #specialsDefault .centeredContent, 
#indexCategories .tie #specialsListing .centeredContent{
	border:1px solid #2b2b2b;
	margin-left: -1px;
	min-height: 425px;
	position: relative;
}
#indexCategories .tie #featuredProducts .centeredContent.first, 
#indexCategories .tie #whatsNew .centeredContent.first, 
#indexCategories .tie #specialsDefault .centeredContent.first, 
#indexCategories .tie #specialsListing .centeredContent.first{
	margin:0 0 -1px -1px;

}

.tie #featuredProducts .product-col,
.tie #specialsDefault .product-col {padding: 30px 27px;}

#indexHomeBody .product-col{ 
	width:171.5px!important;
	padding:30px;
}
.product-col{ 
	width:170.5px!important;
	padding:30px 26.3px;
}
.product-col .img{ 
	text-align:center;
	background: url(../images/image_bg.jpg) 0 0 no-repeat;
	height: 172px;
	width: 172px;
	vertical-align: middle;
}
.product-col .img img {padding-top: 10px;}
.product-col .prod-info{
	padding:11px 0 0 0;
	overflow:hidden;
}
.product-col .name{ 
	font:400 13px/23px 'Lato', Arial, Helvetica, sans-serif;
	color:#fff; 
	text-decoration:none;
	text-transform: uppercase;
}
.product-col .name:hover{ 
	color:#e63636;
}
.product-col .text{ 
	padding:0;
}
.price{
	font:400 20px/37px 'Lato', Arial, Helvetica, sans-serif;
	color: #e63636;
}
.price strong{
	font-weight:400;
}
.product-col .price{
	margin-bottom:8px;
}
.product-col .product-buttons{
	width:100%;
	overflow:hidden;
}
.product-col .button,
.product-col .button1{
	float:left;
	margin:0;
}
/* ============================= listing ====================== */

.listing_left_block{
	width:27%;
	margin-right:2%;
	text-align: center;
}
.listing_left_block .image {padding: 15px 3px 0;}
.listing_right_block{
	width:71%;
	padding-top: 20px;
}

#reviewsInfoDefault .listing_left_block{
	width:43%;
	margin-right:2%;
}
#reviewsInfoDefault .listing_right_block{
	width:55%;
}


/* ============================= footer ====================== */
#footer{
	position:relative;
	background:#000;
	padding:21px 0 57px;
}
#footer .wrapper{border-top: none;}
#footer .footer-menu{}

/* --- copyright --- */
#footer .copyright{
	color: #777;
	text-transform: uppercase;
	font:400 11px/23px 'Lato', Arial, Helvetica, sans-serif; 
}
#footer .copyright a{
	color: #777;
	text-decoration:none;
}
#footer .copyright a:hover{
	color:#c63636;
}

/* --- back to top --- */
.back_to_top{
	position:fixed;
	bottom:0px;
	left:0px;
	height:100%;
	z-index:555;
}
.back_to_top a{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	line-height:18px;
	text-transform:lowercase;
	color:#000;
	text-align:center;
	font-weight:700;
	text-decoration:none!important;
	display:block;
	padding:45px 0 0 0px;
	cursor:pointer!important;
	width:90px;
	height:100%;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;
}
.back_to_top a span{ 
	font-size:16px; 
	line-height:18px; 
	color:#000; 
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;
}
.back_to_top a:hover,
.back_to_top a:hover span{
	background:#2a2a2a;
	color:#fff;
	opacity: .7;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
	
}
@media only screen and (min-width:300px) {
 .back_to_top a{width:21px; color:#000;}
}
@media only screen and (min-width:1180px) {
 .back_to_top a{width:63px; color:#000;}
}
@media only screen and (min-width:1264px) {
 .back_to_top a{width:90px; color:#000;}
}

/* --- cards --- */
#footer .cards{}


#zc_manual_conf {padding: 0 15px;}
/* ============================= banners ====================== */
.banners1{
	width:100%;
	overflow:hidden;
	margin:0;
}
.banners1 div{
	float:left;
	position:relative;
	margin:0px;
}
.banners1 div.item_1{
	margin:0;
}
.banners1 div .title{
	position:absolute;
	left:30px;
	top:22px;
	width:91%;
	text-decoration:none;
	display:block;
	padding:0;
	text-align:left;
}
.banners1 div .title h3{
	color:#e63636;
	font:400 49px/49px 'Lato', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 0;
	margin-bottom: 9px;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.banners1 div .title b{
	color:#888888;
	font:400 13px/23px 'Lato', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	width: 57%;
	display: block;
}
.banners1 div .title p{
	color:#fff;
	background: #2a2a2a url(../images/btn_bg.jpg) 0 0 repeat-x;
	font:400 18px/48px 'Lato', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin-top: 18px;
	height: 53px;
	padding: 0 30px;
	display: inline-block;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.banners1 div:hover .title h3 {color: #fff;}
.banners1 div:hover .title p {color:#e63636;}

.banners2{
	width:100%;
	overflow:hidden;
	margin:0;
}
.banners2 div{
	float:left;
	position:relative;
	margin:0;
}
.banners2 div.item_1{
	margin:0;
}
.banners2 div .title{
	background:#777;
	width:100%;
	text-decoration:none;
	display:block;
	padding:13px 0 14px 0;
	text-align:center;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}
.banners2 div .title h3{
	color:#fff;
	font:400 23px/28px Arial, Helvetica, sans-serif;
}
.banners2 div .title b{
	color:#000;
	font:400 18px/20px Arial, Helvetica, sans-serif;
}
.banners2 div:hover .title{
	background:#333;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}


.ratingRow img {
    margin-top: 5px;
}

/* ============================= forms ======================= */
input, select, textarea{ font-family: 'Roboto', Arial, Helvetica, sans-serif; font-weight: 400; margin-bottom: 3px; font-size:13px; line-height:normal; color:#777; border:solid 1px #2a2a2a; padding:2px 5px; background:#2a2a2a; resize:none;}
input:focus, select:focus, textarea:focus{outline:none;}
.cartRemoveItemDisplay input,
#search-in-description, #inc-subcat, #gender-female, #gender-male, #newsletter-checkbox, #email-format-text, #email-format-html, #rating-1, #rating-2, #rating-3, #rating-4, #rating-5, #pmt-linkpoint_api, #pmt-moneyorder, #pmt-paypal, #pmt-cod, #notify-0{ border:none!important;}
#rating-1, #rating-2, #rating-3, #rating-4, #rating-5{margin:2px 4px 0 8px; padding:0; background:none;}
#globalnotify, #pmt-cod, #pmt-moneyorder, #ship-flat-flat, #ship-item-item, #ship-storepickup-storepickup, #gender-male, #gender-female, #email-format-html, #email-format-text, #newsletter{border:none!important;	position:relative; top:2px;}
#primary{ margin-left:10px;	position:relative; top:2px; border:none!important;}
#disc-ot_coupon{margin:5px 0 0 0;}
#cartContentsDisplay input{ background:none;}